<!doctype html>
<html ng-app>

<head>
    <title>TODO</title>
    <script src='/static/js/angular.min.js'></script>
    <link rel='stylesheet' href='/static/css/task.css'>
    <script src='/static/js/task.js'></script>
</head>

<body>
<div class='container' ng-controller='TaskCtrl'>
    你好，<span class="username">{{<.Username >}}</span>
    <span class="logout" ng-click='logout()'>退出</span>

    <h1 class='charcoal rounded-box'>ToDo</h1>

    <h3>{{tasks.length}} Tasks </h3>

    <form>
        <input type='text' class='rounded-box' placeholder='add new todo here' ng-model='todoText'>
        <button class='grey rounded-box' ng-click='addTask()' ng-disabled='working'>New Task</button>
    </form>

    <ul class='grey rounded-box'>
        <li ng-repeat='t in tasks' ng-class='{done: t.Done}'>
            <span class='checkbox' ng-click='toggleDone(t)'></span>{{t.Title}}
            <button class="delete" ng-click='deleteTask(t)'>X</button>
        </li>
    </ul>

    <img class='spinner' src='/static/img/spinner.gif' alt='Loading' ng-class='{working: working}'/>
</div>
</body>
</html>