<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
</head>
<body>
<div class="rounded-box">
    <div id="login">
        <form method="post" action="/login">
            <input type="text" required="required" placeholder="username" name="username"/>
            <input type="password" required="required" placeholder="password" name="password"/>
            <button class="but" type="submit">登录</button>
        </form>
    <div class="error">{{<.Error>}}</div>
    </div>
</div>
</body>
</html>